
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cabin:ital,wght@0,400..700;1,400..700&family=Italianno&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
 }
 /* From Uiverse.io by Aristocbrat */ 

.star__stroke {
   --dur: 4s;
   animation: stroke1 var(--dur) linear infinite;
 }
 .star__stroke--2 {
   animation-name: stroke2;
   animation-delay: calc(var(--dur) / -2);
 }
 .star__stroke--3 {
   animation-name: stroke3;
   animation-direction: reverse;
 }
 .star__stroke--4 {
   animation-name: stroke4;
   animation-delay: calc(var(--dur) / -2);
   animation-direction: reverse;
 }
 
 @keyframes stroke1 {
   from {
     stroke-dashoffset: 0;
   }
   to {
     stroke-dashoffset: 124;
   }
 }
 @keyframes stroke2 {
   from {
     stroke-dashoffset: 0;
   }
   to {
     stroke-dashoffset: 248;
   }
 }
 @keyframes stroke3 {
   from {
     stroke-dashoffset: 0;
   }
   to {
     stroke-dashoffset: 372;
   }
 }
 @keyframes stroke4 {
   from {
     stroke-dashoffset: 0;
   }
   to {
     stroke-dashoffset: 496;
   }
 }
 

 @media (max-width:360px) {
    .abouttext {
       font-size: 10px !important;
       height: 1100px !important;
    }
    .resume{
       margin-left: 4% !important;
    }
    .facediv{
      width: 60% !important;
      height: 200px  !important;
    }
    .facediv img{
       top: 14%;
    }
    .techstack{
       font-size: 20px !important;
       margin-left: 20% !important;
    }
    .stack-icons{
       margin-left: 9% !important;
    }
    .a{
      width: 320px !important;
    }
 }


